<!DOCTYPE html>
<html>
  <head>
    <title>MarkdownPastr README</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
  </head>
  <body>
    <header class="navbar navbar-inverse">
      <div class="container">
        <span class="navbar-brand">MarkdownPastr</span>
      </div>
    </header>
    <div class="container">
<%=content%>
    </div>
  </body>
</html>